@using Microsoft.AspNet.Identity
@model Dictionary<string, object>
@{
    ViewBag.Title = "Home Page";
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/modernizr")

@*<script>
    var o = {};
    var i = {};
    $(function () {

    });

    function New() {
        $('#P_Modify').toggle();
        $('#P_Search').hide();
    }

</script>
<button type="button" class="btn btn-info" onclick="New();">註冊</button>
<div id="P_Modify" style="display:none;">
    <form method="post">
        <table class="table-striped">
            <tr>
                <th>
                    <h1>請輸入使用者資料</h1>

                </th>
                <td>
                    <div>
                        <span style="color:red">@ViewBag.Msg</span>
                    </div>
                </td>
            </tr>
            <tr><th>產品編號</th><td><input type="text" id="UserName" name="UserName" class="form-controls" /></td></tr>
            <tr>
                <th>帳號</th>
                <td>
                    <input type="text" class="form-control" id="Account" name="Account" placeholder="輸入帳號" value="">
                    <small id="emailHelp" class="form-text text-muted">請輸入英數字</small>
                </td>
            </tr>
            <tr>
                <th>產品名稱</th>
                <td>
                    <div class="form-group">
                        <label for="exampleInputPassword1">新的密碼</label>
                        <input type="password" class="form-control" id="Password1" name="Password1" placeholder="輸入密碼" value="">
                    </div>
                </td>
            </tr>

            <tr>
                <th>排序</th>
                <td>
                    <div class="form-group">
                        <label for="exampleInputPassword1">再次確認</label>
                        <input type="password" class="form-control" id="Password2" name="Password2" placeholder="輸入密碼" value="">
                    </div>
                </td>
            </tr>
            <tr><th>請輸入信箱</th><td><input type="text" id="Email" name="Email" class="form-controls" /></td></tr>
            <tr>
                <td></td>
                <td style="text-align:right;">
                    <button type="button" class="btn btn-secondary" onclick="hide();">取消</button>
                    <button type="submit" class="btn btn-primary" asp-page-handler="Insert">新增</button>
                </td>
            </tr>
        </table>
    </form>
</div>*@
